li {
  margin-top: 15px;
  font-size: 20pt;
  margin-left: 20px;
  margin-right: 40px;
  display: flex;
}
.menu{
  margin-left: auto;
  display: flex;
}
.nome{
  margin: auto;
  font-size: 40pt;
}
.foto{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: 0.8s;
  background-image: url('../imgs/4.jpg');
  background-repeat: no-repeat;
  display: flex;
  cursor: pointer;
  margin-top: 80px;
  margin-right: 100px;
  
}
.foto2{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: 0.8s;
  background-image: url(../imgs/3.jpg);
  transition: 0.8s;
  display: flex;
  margin-top: 80px;
  margin-right: 100px;
}
aside li{
color: #000;

}  
.conhecimento {
width: 100%;
justify-content: center;
}
.linguagem li{
margin: center;
}
.linguagem h1{
  font-size: 25pt;
}
